{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates | Basics</title>
    <style>
        table {
            border: 1px solid #000;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Django Templates: Basics</h1>
    <!-- html 주석 -->
    {% comment %}
        template
        여러줄 주석
    {% endcomment %}
    {# template 한줄 주석 #}

    <h3>Variables</h3>
    {# views 함수에서 전달한 변수 출력 가능 #}
    <p>나는야 {{ name }}!!!</p>
    <p>내 키는 무려 {{ height }}cm지!!!</p>

    <h3>Statements</h3>
    <h5>조건 처리</h5>
    {# if, elif, else .. endif #}
    {% if height >= 150 %}
        <p>거인</p>
    {% else %}
        <p>우유를 좀 더 마셔볼까...</p>
    {% endif %}

    <h5>반복 처리</h5>
    <ul>
        {% for h in hobby %}
            <li>{{ h }}</li>
        {% endfor %}
    </ul>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Study Hard</th>
            </tr>
        </thead>
        <tboby>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>
                        <input type="checkbox" {% if user.study %}checked{% endif %}/>
                    </td>
                </tr>
            {% empty %} {# 반복 처리할 대상이 없는 경우 동작 #}
                <tr>
                    <td colspan="3">사용자가 존재하지 않습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Filter</h3>
    {# 변수 후처리를 지원하는 표현식 #}
    <ul>
        <li>My name is {{ eng_name|upper }}~!</li>
        <li>My name is {{ eng_name|length }}~!</li>
        <li>자고 일어났더니 키가 컸어! 내 키는 {{ height|add:2 }}cm야!</li>
        <li>자고 일어났더니 키가 컸어! 내 키는 {{ height|add:2 }}cm야!</li>
        <li>오늘은 <mark>{{ today }}</mark>입니다 ^_^</li>
        <li>오늘은 <mark>{{ today|date:"Y/m/d" }}</mark>입니다 ^_^</li>
        <li>오늘은 <mark>{{ today|date:"Y/m/d (D) H:i:s" }}</mark>입니다 ^_^</li>
        <li>가격: {{ price|floatformat:2 }}원</li>
        <li>가격: {{ price|intcomma }}원</li>
    </ul>

    <h3>Variable Declaration</h3>
    {% now 'Y' as current_year %}
    <p>올해는 {{ current_year }}년~~~~~!</p>

    {% with '서브웨이' as lunch_menu %}
    <p>{{ lunch_menu }} 맛있겠다!</p>
    {% endwith %}
</body>
</html>