<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates | URLs</title>
</head>
<body>
    <h1>Django Templates: URLs</h1>

    <h3>Path Variable</h3>
    <div><a href="{% url 'app:product' id=123 %}">123번 product</a></div>
    <div><a href="{% url 'app:product' id=999 %}">999번 product</a></div>

    <h3>Query String</h3>
    <div>
        {% comment %} 
        <a href="{% url 'app:search' %}?q={{q}}&lang={{lang}}">
            검색어 {{ q }} | 언어 {{ lang }}
        </a> 
        {% endcomment %}
        <a href="{% url 'app:search' %}?q={{request.GET.q}}&lang={{request.GET.lang}}">
            검색어 {{ request.GET.q }} | 언어 {{ request.GET.lang }}
        </a>
    </div>

</body>
</html>