<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | Index</title>
</head>
<body>
    <h1>Django Templates</h1>

    <ul>
        <li><a href="{% url 'app:basics' %}">Basics</a></li>
        <li><a href="{% url 'app:layout' %}">Layout</a></li>
        <li><a href="{% url 'app:staticfiles' %}">Static Files</a></li>
        <li><a href="{% url 'app:urls' %}">URLs</a></li>
    </ul>
</body>
</html>