{% extends '../layout/base.html' %}
{% load static %}

{% block title %} Question List {% endblock %}

{% block content %}
	<h1 class="my-3 display-5 fw-bold">Question List</h1>
    {# 검색어 자동완성 #}
    <div class="container d-flex justify-content-end mb-1">
        <form class="d-flex col-6" role="search">
            <input class="form-control" type="search" id="question-search" placeholder="제목/내용을 검색하세요..." aria-label="Search" autocomplete="off">
        </form>
    </div>
    <div class="container my-1">
        <table class="table table-striped">
            <thead>
            <tr class="table-dark">
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            {% for question in page_obj %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>
                        <a href="{% url 'qna:question_detail' question_id=question.id %}">{{ question.subject }}</a>
                        {# 질문별 답변 개수 #}
                        {% if question.answer_set.count > 0 %}
                            <span class="badge text-bg-info">{{ question.answer_set.count }}</span>
                        {% endif %} 
                    </td>
                    <td>{{ question.author|default:'' }}</td>
                    <td>{{ question.created_at }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">질문이 존재하지 않습니다.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- 페이징 처리 시작 -->
    {% comment %}
    ### Page 객체 속성 ###
        paginator.count	        전체 게시물 개수
        paginator.per_page	    페이지당 보여줄 게시물 개수
        paginator.page_range    전체 페이지 범위 (range객체: range(1, 11))
        number	                현재 페이지 번호
        previous_page_number()	이전 페이지 번호 (현재 페이지가 1인 경우,  EmptyPage오류 발생하므로, has_previous 속성을 사용하여 이전 페이지 유무를 확인)
        next_page_number()	    다음 페이지 번호 (다음 페이지가 없는 경우, EmptyPage오류 발생하므로, has_next 속성을 사용하여 다음 페이지 유무를 확인)
        has_previous	        이전 페이지 유무
        has_next	            다음 페이지 유무
        start_index	            현재 페이지 시작 인덱스(1부터 시작)
        end_index	            현재 페이지의 끝 인덱스(1부터 시작)
    {% endcomment %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 영역 시작 -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'qna:index' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
            <!-- 이전페이지 영역 끝 -->
        
            <!-- 페이지넘버 영역 시작 -->
            {% for page_number in page_obj.paginator.page_range %}
                {# 현재페이지 기준 앞뒤 3개까지만 표시 (4 ~ 7 링크 표시) #}
                {% if page_number >= page_obj.number|add:-3 and page_number <= page_obj.number|add:3 %}
                    {% if page_number == page_obj.number %}
                        {# 현재페이지인 경우 #}
                        <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
                    {% else %}
                        {# 현재페이지가 아닌 경우 #}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'qna:index' %}?page={{ page_number }}">{{ page_number }}</a>
                        </li>		
                    {% endif %} 
                {% endif %}
            {% endfor %}
            <!-- 페이지넘버 영역 끝 -->

            <!-- 다음페이지 영역 시작 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'qna:index' %}?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
            <!-- 다음페이지 영역 끝 -->
        </ul>
    </nav>
    <!-- 페이징 처리 끝 -->

    <a href="{% url 'qna:question_create' %}" class="btn btn-primary">질문 등록</a>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/qna/question_list.js' %}"></script>
    
    <!-- 검색어 자동완성 관련 jquery.js, bootstrap-autocomplete.js -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap-autocomplete.js' %}"></script>
    <script>
        let results;
        /**
         * bootstrap-autocomplete api
         * https://iqbalfn.github.io/bootstrap-autocomplete/
         */
        $('#question-search').autocomplete({
            filter: '{% url 'qna:question_search' %}?query=#QUERY#',
            preProcess(response){
                results = response.results;
                return response.results.map((item) => item.text);
            },
            onPick(input, item) {
                console.log('onPick', input, item);
                const {id} = results.find((result) => result.text === item.textContent);
                console.log('id = ', id);
                location.href = `/qna/question/${id}/`;
            }
        });
    </script>
{% endblock %}